<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Survey</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/assets/images/iconsurvey.png" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/Content/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="authentication-bg">
    <!-- Start wrapper-->
    1   <div id="wrapper">
        <div class="card card-authentication1 mx-auto my-5 animated zoomIn bg-dark">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <img width="100%" height="150" src="~/Content/assets/images/Timsurvey.png" />
                    </div>
                    <div class="card-title text-uppercase text-center py-2 text-white">Kayıt Olunuz</div>
                    <form method="post">
                        <div class="form-group">
                            <label for="input-1">Kullanıcı Adı</label>
                            <input type="text" class="form-control" name="NameSurname" id="input-1" placeholder="Kullanıcı Adı" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <label for="input-2">Ad Soyad</label>
                            <input type="text" class="form-control" name="UserName" id="input-2" placeholder="Ad Soyad" maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <label for="input-3">Şifre</label>
                            <input type="password" class="form-control" name="Password" id="input-3" placeholder="Şifre" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-round btn-success shadow-success px-5"><i class="icon-lock"></i> <a href="~/Login/SignIn">Kayıt </a>  </button>
                        </div>



                    </form>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- waves effect js -->
    <script src="~/Content/assets/js/waves.js"></script>
    <!-- Custom scripts -->
    <script src="~/Content/assets/js/app-script.js"></script>

</body>
</html>
